
.container{
    background: #edf0f0;
    border: solid 2px #b6edf7;
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #737777;
}
img{
    color: #000;
}

.weather-status{
    color: #535353;
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-family: Acme, sans-serif;
    letter-spacing: 2px;
   
}

.weather-img{
width: 80px;
height: 80px;
margin: auto;
}

.degree{
    color: #535353;
    font-size: 30px;
    letter-spacing: 3px; 
    margin: 15px;
    font-weight: bold;
}
.degree-metrics{
    display: inline-block;
    margin: 5px;
    font-family: "PT Sans", sans-serif;
    

}
.celsius-toggle{
    color: rgb(73, 35, 223);
    cursor: pointer;
    letter-spacing: 1px;
}
.far-toggle{
    color: #535353;
    cursor: pointer;
}
.location{
    color: #535353;
    margin-top: 20px;
    letter-spacing: 1px;
}
.date{
    margin-top: 20px;
    color: #535353;
    letter-spacing: 1px;
    font-style: italic;

}

@media(min-width: 1200px){
    .container{
        margin: auto;
        width: 40%;
    }
}
